<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="exchangeRatesService" class="org.krynicki.rx.rates.services.ExchangeRatesServiceImpl">
		<constructor-arg>
    	    <bean id="exchangeRatesAdapter" class="org.krynicki.rx.rates.adapter.ExchangeRatesAdapter"/>
    	</constructor-arg>
    </bean>
    
    <bean id="strongerService" class="org.krynicki.rx.stronger.services.StrongerServiceImpl">
		<constructor-arg>
    	    <bean id="ratesAdapter" class="org.krynicki.rx.rates.adapter.ExchangeRatesAdapter"/>
    	</constructor-arg>
    </bean>

    <bean class="org.krynicki.rx.exceptions.InternalErrorMapper"/>
	<bean class="org.krynicki.rx.exceptions.CurrencyNotFoundMapper"/>

</beans>
